<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Status</title>
</head>
<body>

<p class="time">{{ timestamp }}</p>

<table>
  {% for repo in repos %}
    <tr class="repo-status">
      <td class="repo">
        <a href="https://github.com/{{ repo.full_name }}/tree/{{ repo.sha }}">{{ repo.name }}</a>
        <code><a href="https://github.com/{{ repo.full_name }}/tree/{{ repo.sha }}">{{ repo.sha |truncate(6,True,'')}}</a></code>
      </td>
      <td class="status">
        {% if repo.passed %}
          Pass
        {% else %}
          Fail
        {% endif %}
      </td>
    </tr>
    {% if repo.reasons %}
      <tr class="reasons">
        <td colspan="2" class="reasons">
          {{ repo.reasons |join(', ')|escape}}
        </td>
      </tr>
    {% endif %}
  {% endfor %}
</table>

</body>
</html>
