<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  	<title>Graphs display</title>
  </head>
  <body>

    <select id="repo_chart_id">
        <option value="default">Select a graph</option>
      {% for repo in repos %}
        <option value="{{ repo['name'] }}">{{ repo['name'] }}</option>
      {% endfor %}
    </select>

    <ul class="repo_chart_list">
      {% for repo in repos %}
        <li class="repo chart" id="{{ repo['name'] }}"></li>
      {% endfor %}
    </ul>   

    <div class='graph-legend'>
      <div class='legend-title'>Repository Metrics</div>
      <div class='legend-scale'>
        <ul class='legend-labels'>
          <li><span style='background:rgb(80,100,200);'></span>Contributors</li>
          <li><span style='background:rgb(100,200,80);'></span>Watchers</li>
          <li><span style='background:rgb(200,60,60);'></span>Stars</li>
        </ul>
      </div>
    </div>

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="/static/metric_graphs.js"></script>
    <script src="/static/Chart.js"></script>
  </body>
</html>
